<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.xgouchet.packageexplorer"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Stanley.Theme"
        android:uiOptions="splitActionBarWhenNarrow" >

        <!-- Packages List -->
        <activity android:name=".StanleyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- App preferences -->
        <activity android:name=".StanleyPreferencesActivity" >
        </activity>

        <!-- App about -->
        <activity android:name=".StanleyAboutActivity" >
        </activity>

        <!-- App Secret Preferences -->
        <activity
            android:name=".StanleySecretPreferences"
            android:icon="@drawable/ic_launcher_secret"
            android:label="@string/title_secret" >
        </activity>

        <!-- Secret receiver -->
        <receiver android:name=".StanleySecretCodeReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="*"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
    </application>

</manifest>