<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.xgouchet.packageexplorer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".StanleyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".applist.AppListActivity"
            android:label="@string/activity_title_appList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".applist.CertificateAppListActivity"
            android:enabled="true"
            android:exported="false"
            android:label="@string/activity_title_certificateAppList"/>

        <!-- Details -->
        <activity
            android:name=".details.app.AppDetailsActivity"
            android:enabled="true"
            android:exported="false"
            android:label="@string/activity_title_appDetails" />

        <activity
            android:name=".details.apk.ApkDetailsActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/activity_title_apkDetails">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </activity>


        <!-- Misc -->
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/activity_title_about"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <!-- Providers -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/shareable_paths" />
        </provider>

        <!-- Receivers -->
        <receiver android:name=".easteregg.EasterEggReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:host="7826539"
                    android:scheme="android_secret_code" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

    </application>

</manifest>